@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700;900&display=swap");

:root {
  --primary-color: #ff4438;
  --secondary-color: #06488a;
  --bg: #f9fafc;
  --red: #ed1c24;
  --font_c: #b1b3b6;
  --tomato: tomato;
  --my-yellow: #fff200;
  --light-black: #495057;
  --font-color: #303030;
  --track-bg: #dcdde1;
  --lighter-grey: #e8e8e8;
  --grey: grey;
  --light-grey: #dcdde1;
  --white: white;
  --card-title: #1f1f1f;
  --color-363636: #363636;
  --color-4a4a4a: #4a4a4a;
  --color-ededfb: #ededfb;
  --green: green;
  --question: #ed6824;
  --card-bg: #588de8;
}
* {
  font-family: "Railway", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Railway", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1350px !important;
}
:active,
:focus {
  outline: none !important;
}
/* navbar design start */
header {
  background: #ff4438;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.header-logo {
  width: 200px;
  text-align: left;
}

.header-logo a:hover {
  opacity: 0.7;
}

.header-logo a img {
  max-width: 200px;
  max-height: 50px;
  height: auto !important;
  width: auto;
  top: 0px;
  position: relative;
}

.header-right {
  text-align: right;
  width: calc(100% - 200px) !important;
  padding: 10px 5px;
}

header .header-right > ul {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  display: block;
  text-align: right;
}

.menu-nav li img:last-child {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: none;
}
.header-div {
  padding: 20px 50px;
}
.menu-nav li img:hover {
  background: none !important;
}

header .header-right > ul > li {
  list-style: none;
  display: inline-flex;
  clear: both;
  cursor: pointer;
  padding: 0;
}

header .header-right > ul > li > a {
  text-decoration: none;
  color: var(--white) !important;
  height: 100%;
  width: 100%;
  padding: 0.5rem 1.75rem;
  font-size: 18px;
  font-weight: 100 !important;
}

header .header-right > ul > li > a:hover {
  background: var(--tomato);
}

.header-right .dropdown-menu {
  left: -30px !important;
}

.header-right .dropdown-menu a:hover {
  background: var(--light-grey);
}
.btn-white {
  width: auto;
  background: var(--white);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ff4438;
  margin: 0 5px 0 5px;
  font-size: 14px;
  font-weight: 700 !important;
}

/*menu button design start*/

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1.8rem;
  height: 20px;
  width: 25px;
  cursor: pointer;
  transition: 0.4s;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 25px;
  height: 3px;
  background: var(--white);
  transition: 0.4s;
}

.menu-btn_burger:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 25px;
  height: 3px;
  background: var(--white);
  transition: 0.4s;
}

.menu-btn_burger:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 5px;
  width: 20px;
  height: 3px;
  background: var(--white);
  transition: 0.4s;
}

.open {
  transform: rotate(720deg);
  background: transparent;
}

.open:before {
  transform: rotate(45deg) translate(5px, 8px);
}

.open:after {
  width: 25px;
  transform: rotate(-45deg) translate(7px, -3px);
}
/*menu btn design end*/
/* navbar design end */
/* wave div design start */
.wave-section {
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #ff4438;
  overflow: hidden;
  z-index: 60;
}
.custom-shape-divider-bottom-1627384266 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 60;
  line-height: 0;
}

.custom-shape-divider-bottom-1627384266 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1627384266 .shape-fill {
  fill: #ffffff;
}
.wave-section .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.root-title {
  font-weight: 700;
  color: white;
  font-size: 50px;
}
.sub-title {
  color: white;
  font-weight: 100 !important;
  font-size: 22px;
  margin-top: 15px;
}
.wave-bg {
  height: auto;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}
/* wave div design end */
/* brand */
.deal-image {
  max-height: 150px;
  max-width: 150px;
  margin-top: 10px;
}
/* benefit */
.pl-benifit {
  padding-left: 120px !important;
}
.benefit-img-bg {
  max-height: 550px;
}
/* journey */
.journey-bg {
  max-height: 500px;
  margin-top: 150px;
}
.journey-img {
  width: 100%;
}
.vr {
  border: none;
  height: 350px;
  width: 2px;
  background: #ff4438;
  margin-top: 100px;
  position: absolute;
  left: 90px;
  z-index: 79;
}
.round-number {
  position: absolute;
  background: #fff;
  border: 1px solid #ff4438;
  color: #ff4438;
  width: 80px;
  height: 80px;
  font-size: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
  z-index: 80;
}
.round-number:hover,
.round-number:active,
.round-number:focus {
  background: #ff4438;
  color: #fff;
  font-style: italic;
}
.journey .active {
  background: #ff4438;
  color: #fff;
  font-style: italic;
}

.first {
  top: 21px;
  left: 50px;
}
.second {
  top: 200px;
  left: 50px;
}
.third {
  top: 400px;
  left: 50px;
}
.journey-p {
  font-size: 18px;
  color: #495057;
  margin-top: 30px;
}
.secondP {
  margin-top: 10px;
}
.thirdP {
  position: relative;
  top: 110px !important;
}
/* pricing */
.side-div {
  max-height: 490px !important;
  position: relative;
  top: 40px;
  z-index: 4;
  width: calc(30%);
}
.radius-left {
  border-radius: 15px 0 15px 0 !important;
}
.radius-right {
  border-radius: 0 15px 0 15px !important;
}
.center-div {
  position: absolute;
  height: 570px;
  box-shadow: 1px 2px 5px 2px #ededfb;
  z-index: 5;
  width: calc(40%);
  border-radius: 15px !important;
}
.triangle {
  position: absolute;
  background-color: #333333;
  text-align: left;
  top: 0;
  right: 0;
  transform: rotate(0deg) !important;
  z-index: 7;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 40px;
  height: 40px;
  border-top-right-radius: 15px;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.triangle .rotate-text {
  color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 12px;
  z-index: 8;
}
.price-img {
  height: 100px;
  width: 100px;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.btn-red {
  width: auto;
  background: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  margin: 0 5px 0 5px;
  font-size: 14px;
  font-weight: 700 !important;
}
/* partner */
.partner-bg {
  max-height: 270px;
}
.partner-bg img {
  height: 100%;
  width: 100%;
}
.open-quoto {
  color: var(--primary-color);
  content: open-quote;
  font-size: 150px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  margin-top: 25px;
}
.open-quoto::before {
  position: absolute;
  left: 0;
  top: 25px;
  margin-top: 40px;
}
.open-quoto::after {
  position: absolute;
  right: 0;
  bottom: -25px;
  margin-top: 40px;
}
.team-quoto {
  font-size: 20px !important ;
  color: var(--color-4a4a4a) !important;
  font-style: italic !important;
  font-weight: 100 !important;
  padding: 0px 10px;
  line-height: 30px !important;
  margin-left: 60px;
  transition: 0.3s;
}
.left-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.right-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 15px;
}
.center-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.team-pic {
  cursor: pointer;
}
.team-bio {
  /* width: auto;
  text-align: center;
  font-weight: 100;
  transition: 0.3s;
  font-style: normal !important; */
}
.team-bio h5 {
  font-weight: bolder !important;
  margin-top: 10px;
  color: #000 !important;
}
/* .team-bio .title {
  display: none;
} */
.getbg {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.get-title {
  position: relative;
  top: 50px;
}
.team-members {
  height: 320px !important;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
/* team anime css */
#container {
  width: 500px;
  height: auto;
  color: #000;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container div {
  position: absolute;
  /* margin: 10px auto;
  background: transparent;
  padding: 0 15px;
  border-radius: 3px;
  text-align: center;
  display: inline-block; */
}
#container div:nth-child(1) {
  width: 150px;
}
#container div:nth-child(2) {
  width: 180px;
}
#container div:nth-child(3) {
  width: 150px;
}
#container div .title {
  height: 100px;
}
.midDiv {
  z-index: 10;
}
.leftDiv {
  z-index: 9;
}
.rightDiv {
  z-index: 9;
}
/* .get-title h1 {
  font-size: 50px;
} */
.footer-text {
  font-weight: 100 !important;
  margin: 40px auto;
  line-height: 40px;
  color: #868686;
  width: 75%;
}
.benefit-section {
  background: rgba(255, 0, 0, 0.02);
}
/* media query start */
@media screen and (min-width: 0) and (max-width: 768px) {
  .left-pic {
    width: 60px;
    height: 60px;
  }
  .right-pic {
    width: 60px;
    height: 60px;
  }
  .center-pic {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .pb-100 {
    padding-bottom: 200px !important;
  }
}
@media screen and (min-width: 0) and (max-width: 992px) {
  /*container design change*/
  header {
    min-height: 80px;
  }
  /* header .container {
    padding: 0;
    margin: 0 20px;
  } */
  /*header*/
  .header-logo img {
    height: 50px !important;
    width: 85px !important;
    top: 5px !important;
  }
  /*menu btn*/
  .menu-btn {
    top: 2rem;
  }
  /*making responsive menu*/
  header .header-right {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .header-div {
    text-align: center;
    padding: 20px !important;
  }
  .root-title {
    margin-top: 40px !important;
    font-size: 30px !important;
  }
  .sub-title {
    color: white;
    font-size: 16px;
  }
  .app-button-div {
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }
  .app-button-div span {
    margin: 25px auto;
    display: block !important;
  }
  .wave-bg {
    max-width: 300px;
    max-height: 360px;
  }
  .opennav {
    visibility: visible !important;
    padding: 0;
  }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw !important;
    overflow-y: auto;
    background: var(--tomato);
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: 0.4s;
  }
  .openmenu {
    transform: translateY(0);
    text-align: center !important;
  }
  .openmenu li {
    display: block !important;
    border-bottom: 0px;
    transform: translateY(20vh);
    margin: 30px;
  }
  .openmenu li a:hover {
    background: none !important;
    opacity: 0.7;
  }
  .pl-benifit {
    padding-left: 50px !important;
  }
  .pb-100 {
    padding-bottom: 100px !important;
  }
  .secondP {
    position: relative;
    top: -25px;
  }
  .thirdP {
    position: relative;
    top: 70px !important;
  }
  .side-div {
    width: 100% !important;
    float: left;
    position: relative;
    margin: 0 0 50px 0;
    border-radius: 15px !important;
  }
  .center-div {
    width: 100% !important;
    float: left;
    position: relative;
    box-shadow: none;
    margin: 30px 0 0 0;
  }
  /* .get-title h1 {
    text-shadow: 2px 2px #495057;
    font-size: 25px;
  } */
  .journey-img {
    height: 400px;
    width: 100%;
    margin-top: 40px;
  }
  .round-number-sm {
    width: 60px !important;
    height: 60px !important;
    padding: 10px 10px;
    font-size: 25px;
    margin: 0 auto !important;
    background: #fff;
    border: 1px solid #ff4438;
    color: #ff4438;
    border-radius: 50%;
  }
  .round-number-sm:hover,
  .round-number-sm:active,
  .round-number-sm:focus {
    background: #ff4438;
    color: #fff;
    font-style: italic;
  }
  .arrowButton {
    background: red;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    top: 450px;
    border-radius: 5px;
  }
  .benifit-header {
    font-size: 25px !important;
  }
  .text-center .font-weight-bolder {
    font-size: 28px;
  }
  .color-c1c1c1 {
    font-size: 14px;
  }
  .journey-p {
    font-size: 14px;
    margin: 30px auto;
  }
  .pb-100 {
    padding-bottom: 50px !important;
  }
  .open-quoto {
    font-size: 120px;
  }
  .open-quoto::before {
    position: absolute;
    left: 20px;
    top: 25px;
    margin-top: 40px;
  }
  .open-quoto::after {
    position: absolute;
    right: 12px;
    bottom: -20px;
    margin-top: 40px;
  }
  .team-quoto {
    margin-left: 35px;
    line-height: 25px !important;
    font-size: 16px !important;
  }
  .top-order {
    order: 1;
    padding-right: 0 !important;
  }
  .bottom-order {
    order: 2;
    min-height: 500px;
    background: url("/asset/getbg-sm.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
  }
  .get-title h1 {
    font-size: 30px;
    width: 75%;
    margin: 0 auto;
  }
  .footer-text {
    font-size: 16px;
    margin: 10px auto;
    width: 100% !important;
    line-height: 30px;
  }
}
/* media query end */
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
.color-c1c1c1 {
  color: #c1c1c1 !important;
}
.color-495057 {
  color: #495057 !important;
}
.color-FEFBFB {
  color: #fefbfb !important;
}
.color-333333 {
  color: #333333 !important;
}
.color-4F4F4F {
  color: #4f4f4f !important;
}
.bg-FEFBFB {
  background: #fefbfb !important;
}
.bg-red {
  background: #ff4438 !important;
}
.font-14 {
  font-size: 14px !important;
}
